<div class="container">
  <h1>CODING BUS DESK</h1>
  <% @tasks.each do |task|%>
    <% checked = "checked" if task.completed %>
    <input type="checkbox" <%= "#{checked}" %> disabled><%= link_to task.title, task_path(task) %>
    <%= link_to delete_path(task) do %>
      <i class="fab fa-grunt"></i>
    <% end %><br>
  <% end %>
  <%= link_to "Add a task", new_path %>
</div>
